.container-fluid {
  text-align: center;
}

#signupHeader {
  text-align: center;
  box-shadow: none;
  color: whitesmoke;
}

.modal-content {
  border: none;
  background-color: transparent;
}

.error {
  color: red;
  font-weight: 600;
  margin-top: 30px;
}

#btn-home {
  border: none;
  border-radius: 0.5em;
  background-color: transparent;
  cursor: pointer;
}

#shell-logo:hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 305%;
  background-color: #abd0f3;
  padding: 15%;
  border-radius: 0.5em;
}

#shell-logo {
  width: 300%;
}

#close-btn {
  border: solid ;
  background: transparent;
  color: #D22222;
  font-weight: bold;
  width: 20%;
}

#close-btn:hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: rgb(207, 2, 2);
  color: whitesmoke;
  border: solid whitesmoke;
}

#alert {
  font-weight: bold #abd0f3;
  border: 1.5px solid rgb(207, 2, 2);
  border-radius: 1em;
}

#inputName {
  margin-bottom: 5%;
}

#inputEmail {
  margin-bottom: 5%;
}

#inputPassword {
  margin-bottom: 5%;
}

#error {
  color: rgb(190, 18, 18)
}

#signup-btn {
  font-weight: bold;
  padding: 2%;
  background: -webkit-linear-gradient(#0606c3, #87a2ae);
}

#signup-btn:hover {
  background: -webkit-linear-gradient(#6b7e97, #e6e9eb);
  transition: all 0.3s ease-in-out;
  width: 20%;
  color: black;
}

#back-btn {
  background: -webkit-linear-gradient(#6b7e97, #e6e9eb);
  font-weight: bold;
  padding: 2%;
}

#back-btn:hover {
  background: -webkit-linear-gradient(#c30606, #dfbcbc);
  transition: all 0.3s ease-in-out;
  width: 20%;
}

#header {
  font-size: 175%;
  border-radius: 0.5em;
}

.card {
  border: none;
}

#logo {
  width: 10%;
}

#banner {
  width: 50%;
  background: transparent;
  justify-content: center;
}

#input-log {
  margin-bottom: 5%;
}

#login_icon {
  width: 15%;
}

#logout_icon {
  width: 15%;
}

#logout-btn:hover {
  color:rgb(6, 6, 195);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 105%;
}

#home {
  color:#0606c3;
  text-decoration: none;
  font-size: 90%;
}

#home-icon {
  margin-right: 2%;
  width: 125%;
}

#btn-close {
  font-size: 200%;
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgb(113, 113, 113);
  border: none;
  margin-top: -2.5%;
}

#btn-close:hover {
cursor: pointer;
transition: all 0.3s ease-in-out;
font-size: 210%;
-webkit-background-clip: text;
-webkit-text-fill-color: #D22222;
}

#exampleModalLabel {
  width: 200%;
}

#login_modal {
  border: solid 1px black;
  border-radius: 0.5em;
}

#un_label {
  margin-right: 5%;
}

#un_icon {
  color: rgb(189, 194, 200);
  font-size: 30pt;
}

#pw_label {
  margin-right: 5%;
}

#pw_icon {
  color: rgb(189, 194, 200);
  font-size: 30pt;
}

#driver_icon {
  color: rgb(189, 194, 200);
  font-size: 30pt;
}

#fill_icon {
  color: #D22222;
  font-size: 30pt;
}

#cost_icon {
  color:#017713;
  font-size: 30pt;
}

#login-btn {
  border: none;
  background: transparent;
  font-weight: bold;
}

#logs-btn {
  border: none;
  background: none;
}

#login-btn:hover {
  color:rgb(252, 254, 254);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 105%;
  background-color: #abd0f3;
  padding: 1%;
  border-radius: 0.5em;
}

#logs-btn:hover {
  color:rgb(6, 6, 195);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 105%;
}

#home:hover {
  color:rgb(6, 6, 195);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 105%;
}

#login {
  color:rgb(6, 6, 195);
  text-decoration: none;
  font-size: 90%;
}

#login-icon {
  /* margin-right: 2%; */
  color: rgb(6, 6, 195);
}

#login:hover {
  color: #87a2ae;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 105%;
}

#signup {
  color:rgb(6, 6, 195);
  text-decoration: none;
  font-size: 90%;
}

#signup-icon {
  margin-right: 2%;
}

#signup:hover {
  color: #87a2ae;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 105%;
}

#footer-card {
  background: none;
  border: none;
}

#footer-title {
  font-size: 50%;
  justify-content: center;
  text-decoration: none;
}

#footer {
  border-radius: 0.5em;
  width: 100%;
  height: fit-content;
}

#yelp {
  color: #D22222;
  font-size: 200%;
}

#twitter {
  font-size: 200%;
}

#twitter:hover {
  transition: all 0.3s ease-in-out;
  color: rgba(128, 128, 128, 0.506);
  font-size: 175%;
}

#insta {
  color:  rgb(94, 79, 125);
  font-size: 200%;
}

#insta:hover {
  color: rgba(128, 128, 128, 0.506);
  transition: all 0.3s ease-in-out;
  font-size: 175%;
}

#yelp:hover {
  transition: all 0.3s ease-in-out;
  color: rgba(128, 128, 128, 0.506);
  font-size: 175%;
}

#icon-link {
  margin: 0;
}

#royal-icon {
  width: 10%;
}

#nav {
  width: 75%;
}

#navbar {
  background: transparent;
  border-radius: 0.5em;
}

#nav-btns {
  background: transparent;
  width: 200%;
}

#login-un {
  margin-bottom: 5%;
}

#pw_login {
  font-weight: bold;
  background-color: #017713;
  color: whitesmoke;
}

#pw_login:hover {
  color:#017713;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 105%;
  background: transparent;
  border: solid #017713;
}

#exampleModalLabel {
  text-align: center;
  font-weight: bold;
}

#footer-bold {
  margin-bottom: 1%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.accordion {
  background-color: #eee;
  cursor: pointer;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: 0;
  padding: 0;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */


/* Style the accordion panel. Note: hidden by default */
.panel {

  background-color: white;
  display: none;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  
  #home {
    font-size: 50%;
    margin-left: 10%;
  }
  
  #resources{
    font-size: 50%;
    margin-left: 10%;
  }

  #vault {
    font-size: 50%;
    margin-left: 10%;
  }

  #testimonials {
    font-size: 50%;
    margin-left: 10%;
  }

  #login {
    font-size: 50%;
    margin-left: 10%;
  }

  #signup {
    font-size: 50%;
    margin-left: 10%;
  }

  #logo {
    width: -10%;
    float:right
  }

  #yelp {
    font-size: 100%;
  }

  #twitter {
    font-size: 100%;
  }

  #insta {
    font-size: 100%;
  }

  #footer {
    height: max-content;
  }

  #embed-1 {
    width: 100%;
  }

  #embed {
    height: 300px;
    margin-bottom: 40%;
  }
  .accordion {
    background-color: transparent;
  }

  #footer-bold{
    font-size: 70%;
  }

  #royal-icon {
    width: 12.5%;
  }

  #purpose_title {
    font-size: 85%;
  }

  #tips_title {
    font-size: 85%;
  }

  #vault_title {
    font-size: 85%;
  }

  #purpose_text {
    font-size: 65%;
  }

  #subscribe{
    font-size: 50%;
  }

  #tips_text {
    font-size: 65%;
  }

  #vault_text {
    font-size: 65%;
  }

  #count_btn {
    font-size: 50%;
    margin-top: 10%;
  }
}